[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"
pytest = "*"
pylama = "*"

[packages]
python-dotenv = "*"
"discord.py" = "*"
python-json-logger = "*"
mcstatus = "*"

[requires]
python_version = "3.7"
