[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nose = "*"
rope = "*"

[packages]
requests = "*"
python-dotenv = "*"
"discord.py" = "*"
python-json-logger = "*"

[requires]
python_version = "3.7"
